#layoutAuthentication_content {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #007bff; /* Fundo azul */
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-success, .btn-danger {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}