<div class="bg-primary" ></div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                       {{'Recuperar Senha'}}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>
                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    <form #loginForm="ngForm" (submit)="sendEmail()">
                                        <div class="form-group">
                                            <label class="small mb-1">Email</label>
                                            <input type="text" name="email"
                                                [(ngModel)]="email" autocomplete="off"
                                                class="form-control py-4"
                                                placeholder="Digite seu email" />
                                        </div>

                                        <div class="action-buttons">
                                            <button type="submit" class="btn btn-primary">
                                                Recuperar senha
                                            </button>
                                            <button routerLink="/login" class="btn btn-danger">
                                                Voltar
                                            </button>
                                        </div>
                                        
                                    </form>
                                </div>

                                <div class="card-footer text-center">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>