<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Cadastro</div>
                <a class="nav-link collapsed" routerLink="/representante/form" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                    Representante
                </a>
                <a class="nav-link collapsed" routerLink="/idoso/form" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-person-cane"></i></div>
                    Idoso
                </a> 
                <div class="sb-sidenav-menu-heading">Pagamento</div>
                <a class="nav-link collapsed" routerLink="/pagamento/form" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fa-regular fa-credit-card"></i></div>
                    Pagamento
                </a> 
                <div class="sb-sidenav-menu-heading">Dúvidas</div>
                <a class="nav-link collapsed" routerLink="/faq" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fa-regular fa-circle-question"></i></div>
                    FAQ
                </a> 
            </div>    
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            Volte para Casa
        </div>
    </nav>
</div>