
    <h1 class="mt-4" style="text-align:center">Sobre nós</h1>
    <h2 class="mt-4" style="text-align:justify" class="d-flex justify-content-end">Esta aplicação tem como objetivo tornar menos burocrático o processo
        de localização e identificação de idosos senis que têm um alto risco
        de desaparecerem, oferecendo ao representante legal a possibilidade de
        cadastrar a si próprio e a pessoa idosa da qual tem curatela,
        permitindo o armazenamento e a disponibilização de dados dos quais
        achar relevante, para a identificação e eventual contato em uma
        situação de desaparecimento através da leitura de um QRCode gerado
        exclusivamente para pessoa idosa senil cadastrada, de tal forma que a
        pessoa possa ser devolvida ao lar de maneira rápida e segura.
    </h2>

    <div class="container">
        <div class="elemento">
            <button type="submit" style="text-align:center" class="btn btn-primary"  routerLink="/home">Voltar</button>
        </div>
    </div>
        
